@model Firm

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FirmModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmShortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmShortName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmLogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmLogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmWeb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmWeb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FirmId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
